{% extends 'layout.html' %}

{% set version = "v4" %}
{% set heading = "Check your answers before sending your permission" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <h2>Personal details</h2>

      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-7">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['first-name'] }} {{ data['last-name'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/name">
              Change <span class="nhsuk-u-visually-hidden">Name</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['dob-day'] }} {{ data['dob-month'] | monthToWord }} {{ data['dob-year'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/dob">
              Change <span class="nhsuk-u-visually-hidden">Date of birth</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Postcode
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['postcode'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/postcode">
              Change <span class="nhsuk-u-visually-hidden">Postcode</span>
            </a>
          </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Email address
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['email'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/email">
            Change <span class="nhsuk-u-visually-hidden">Email address</span>
          </a>
        </dd>
      </div>
        
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Sex registered at birth
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['sex'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/your-sex">
            Change <span class="nhsuk-u-visually-hidden">Sex registered at birth</span>
          </a>
        </dd>
      </div>

      {% if (data['gender'] !== "No") %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Gender
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['gender'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/your-gender">
            Change <span class="nhsuk-u-visually-hidden">Gender</span>
          </a>
        </dd>
      </div>
        {% else %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Gender
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['gender-other'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/your-gender">
              Change <span class="nhsuk-u-visually-hidden">Gender</span>
            </a>
          </dd>
        </div>
  
      {% endif %}
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Ethnic group
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if (data['ethnicity-other']) %}
            {{ data['ethnicity-other'] }}
            {% else %}
            {{ data['ethnic-group'] }}
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/ethnic-group">
              Change <span class="nhsuk-u-visually-hidden">Ethnic group</span>
            </a>
          </dd>
        </div>
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Contact with people at work
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['work'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/work">
              Change <span class="nhsuk-u-visually-hidden">Contact with people at work</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Work in health or social care
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['work'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/health-social-care">
              Change <span class="nhsuk-u-visually-hidden">Work in health or social care</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Had a coronavirus test
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['tested'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/tested">
              Change <span class="nhsuk-u-visually-hidden">Had a coronavirus test</span>
            </a>
          </dd>
      </div>

      {% if (data['tested'] !== "No") %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Test results
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['test-results'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/test-results">
              Change <span class="nhsuk-u-visually-hidden">Test results</span>
            </a>
          </dd>
        </div>
      {% endif %}
      </dl>
      <h2>Health</h2>
      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-7">

      {% if (data['sex'] == "Female") %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Pregnant, breastfeeding or planning pregnancy
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['areyoupregnant'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/are-you-pregnant">
            Change <span class="nhsuk-u-visually-hidden">Pregnant</span>
          </a>
        </dd>
      </div>
        {% else %}
        
      {% endif %}

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Normally qualify for a free flu jab
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['flujab'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/flu-jab">
            Change <span class="nhsuk-u-visually-hidden">Normally qualify for a free flu jab</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Diabetes
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['diabetes'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/diabetes">
            Change <span class="nhsuk-u-visually-hidden">Diabetes</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Moderate or severe asthma
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['asthma'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/asthma">
            Change <span class="nhsuk-u-visually-hidden">Moderate or severe asthma</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Lung condition
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['lung-disease'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/lung-disease">
            Change <span class="nhsuk-u-visually-hidden">Lung condition</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Liver condition
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['liver-disease'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/liver-disease">
            Change <span class="nhsuk-u-visually-hidden">Liver condition</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Heart condition
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['cardiac-disease'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/cardiac-disease">
            Change <span class="nhsuk-u-visually-hidden">Heart condition</span>
          </a>
        </dd>
      </div>
      
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Currently having treatment for cancer
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['cancer'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/cancer">
            Change <span class="nhsuk-u-visually-hidden">Currently having treatment for cancer</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Bleeding disorder
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['bleeding-disorder'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/bleeding-disorder">
            Change <span class="nhsuk-u-visually-hidden">Bleeding disorder</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Getting an infection might be very serious
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['immune-system'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a class="nhsuk-link" href="/{{ version }}/immune-system">
            Change <span class="nhsuk-u-visually-hidden">Getting an infection might be very serious</span>
          </a>
        </dd>
      </div>

      </dl>
  
      <h2>Permission and contact</h2>
      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-7">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Permission for researchers to contact me about taking part in health research to find a vaccine for coronavirus
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['give-permission'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/permission">
              Change <span class="nhsuk-u-visually-hidden">Permission for researchers to contact me about taking part in health research to find a vaccine for coronavirus</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Contact from NHS Digital about about other health research
          </dt>
          <dd class="nhsuk-summary-list__value">
            <ul class="nhsuk-list">
              {{ data['hear-from-nhsd'] }}
            </ul>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/hear-from-nhsd">
              Change <span class="nhsuk-u-visually-hidden">Contact from NHS Digital about about other health research</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2>Send your answers and permission</h2>

      <p>By sending this information you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/{{ version }}/confirmation" method="post" class="form">

        <input type="hidden" name="answers-checked" value="true">

        <button class="nhsuk-button" data-module="nhsuk-button">
          Send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
