{% extends 'layout.html' %}

{% set version = "v4" %}
{% set heading = "Thank you, you've signed up to be contacted" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--success">
        <h1 class="nhsuk-u-margin-bottom-4">{{ heading }}</h1>
        <p class="nhsuk-body-l">You've given permission to be contacted for taking part in coronavirus vaccine studies.</p>
      </div>

      <p>Vaccine studies are the only way to find effective treatments and vaccines. Thank you for helping the NHS to save lives.</p>

      <p>We've sent you a confirmation email from <strong>contact-for-research@nhsdigital.nhs.uk</strong>.</p>

      <h2>What happens next</h2>
      <p>Researchers will contact you if they think you may be suitable for their coronavirus vaccine studies.</p>

      <p>In the UK, the research partner of the NHS is the National Institute of Health Research (NIHR). Only researchers on vaccine studies approved by NIHR will be able to contact you through this service.</p>

      <img src="/images/nihr-logo.png" class="app-nihr-logo" alt="" >

      <p>You can find out more information about the vaccine studies on the <a href="https://www.bepartofresearch.nihr.ac.uk/">Be Part of Research website</a>.</p>

      
      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <p>There is no guarantee you'll be contacted to be part of vaccine studies. If you are not contacted, this will be because researchers already have the mix of people they need.</p>
      </div>
      
      <p>If a researcher asks you to take part in their research, you do not have to say yes. It's your choice.</p>
      
      <h3>Contact from NHS Digital</h3>
      <p>If you agreed to NHS Digital contacting you about developments to this service to provide opportunities to take part in health research, they'll contact you when there's new information to share. You will be able to unsubscribe any time.</p>
      
      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <p>Find out in the privacy policy <a href="#">how your data will be processed using this service</a>.</p>
      </div>
      
      <h2>Withdraw your permission</h2>
      <p>Find out how to <a href="/opt-out-v2/confirm-email">withdraw your permission to be contacted for coronavirus vaccine studies</a>.</p>

      <p class="nhsuk-body-s nhsuk-u-margin-top-9"><a href="/emails-v2/confirmation">See confirmation email (prototype only)</a></p>

    </div>
  </div>
{% endblock %}
