{% extends 'layout.html' %}

{% set version = "v4" %}
{% set backLink = "18-or-over" %}
{% set heading = "Do you live in the UK?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/email-interruption" method="post" class="form">

        {{ radios({
        "idPrefix": "intheuk",
        "name": "intheuk",
        "fieldset": {
          "legend": {
            "text": heading,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "Yes",
            "text": "Yes",
            "name": "Yes",
            "checked": checked("intheuk", "Yes")
          },
          {
            "value": "No",
            "text": "No",
            "name": "No",
            "checked": checked("intheuk", "No")
          }
        ]
      }) }}
        
        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
