{% extends 'layout.html' %}

{% set version = "v4" %}
{% set backLink = "name" %}
{% set heading = "What is your date of birth?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/postcode" method="post" class="form">

        {{ dateInput({
          "id": "dob",
          "namePrefix": "dob",
          "fieldset": {
            "legend": {
              "text": heading,
              "classes": "nhsuk-label--l",
              "isPageHeading": true
            }
          },
          "hint": {
            "text": "For example, 15 3 1984"
          },
          "items": [
            {
              "name": "day",
              "classes": "nhsuk-input--width-2",
              "value": data['dob-day']
            },
            {
              "name": "month",
              "classes": "nhsuk-input--width-2",
              "value": data['dob-month']
            },
            {
              "name": "year",
              "classes": "nhsuk-input--width-4",
              "value": data['dob-year']
            }
          ]
        }) }}

        {{ details({
          "text": "Why we are asking this question",
          "HTML": "
            <p>We're asking this so we can make sure there is the right mix of people of different ages taking part in vaccine studies.</p>
            <p>This is so we can make sure any vaccines developed will work for everyone.</p>
          "
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
