{% extends 'layout.html' %}

{% set version = "v4" %}
{% set backLink = "country" %}
{% set heading = "We need to confirm your email address" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card nhsuk-card--blue nhsuk-u-padding-1">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading nhsuk-u-margin-bottom-5">{{ heading }}</h1>
          <p>We will now:</p>
          <ul>
            <li>ask for your email address</li>
            <li>then send you an email asking you to confirm it</li>
          </ul>
          <p>This is so we can check you have given us the right email address so we can send a confirmation email.</p>
          <form action="email" method="post">
            <input type="submit" class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-bottom-4" value="Continue">
          </form>
          <p>NHS Digital will keep your answers secure. <a href="#" target="_blank" rel="noopener noreferrer">Find out in the privacy policy how your data will be processed using this service <span class="nhsuk-u-visually-hidden"> - Page opens in new window</span></a><span aria-hidden="true"> (opens in new window)</span>.</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
