{% extends 'layout.html' %}
{% set backLink = "email-interruption" %}
{% set version = "v4" %}
{% set heading = "What is your email address?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/email-sent" method="post" class="form">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--l" for="email">
              {{ heading }}
            </label>
          </h1>
          <p>We'll send an email asking you to confirm your email address for security reasons.</p>
          <input class="nhsuk-input" id="email" name="email" type="email" autocomplete="email" spellcheck="false" value="{{ data['email'] }}">
        </div>

        {{ details({
          "text": "Why we are asking this question",
          "HTML": "
            <p>We asking for your email address to contact you about coronavirus vaccine research if you give us permission.</p>
            <p>We'll also send you a confirmation email to explain what you've given us permission to do, what will happen next, and how to withdraw your permission if you want to.</p>
            <p>If you withdraw your permission, we'll use your email address to identify you and make sure we delete the information you've given us.</p>
          "
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
