{% extends 'layout.html' %}

{% set version = "v4" %}
{% set heading = "We're sorry, the email address has already been used" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ heading }}</h1>
      
      <p>We've checked, and the email address david.hunter7@nhs.net has already been used to sign up.</p>

      <p>If this email address is wrong, you can <a href='/{{ version }}/email'>tell us the right email address to use</a>.</p>

      <h2 class="nhsuk-heading-s">Withdraw your permission</h2>
      <p>If you've already signed up for this service, you can <a href="/opt-out-v2">withdraw your permission to be contacted about coronavirus vaccine research</a> at any time.</p>

    </div>
  </div>
{% endblock %}
