{% extends 'layout.html' %}

{% set version = "v4" %}
{% if (data['tested'] == "Yes") %}
  {% set backLink = "test-results" %}
{% else %}
  {% set backLink = "tested" %}
{% endif %}
{% set heading = "We'll now ask you questions about your health" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card nhsuk-card--blue nhsuk-u-padding-1">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading nhsuk-u-margin-bottom-4 nhsuk-heading-l">{{ heading }}</h1>
          <p>We're asking about your health so we:</p>
          <ul>
            <li>get the right mix of different people taking part in health research</li>
            <li>make sure any vaccines developed will work for everyone</li>
            <li>can help match you to suitable research studies</li>
          </ul>

          <p>We'll ask about things like asthma, cancer treatment and heart conditions.</p>
          <p>You do not have to answer any of these questions if you do not want to.</p>
          
          <form action="are-you-pregnant" method="post">
            <input type="submit" class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-bottom-0" value="Continue">
          </form>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
