{% extends 'layout.html' %}

{% set version = "v4" %}
{% set backLink = "permission" %}
{% set heading = "Do you also want to be contacted by NHS Digital about coronavirus health research for prevention and treatment?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/hear-from-nhsd-non-covid" method="post" class="form">

        {{ radios({
          "idPrefix": "hear-from-nhsd",
          "name": "hear-from-nhsd",
          "fieldset": {
            "legend": {
              "text": heading,
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "hint": {
            "text": "You will not be contacted by anyone outside of NHS Digital"
          },
          "items": [
            {
              "value": "Yes, I want to be contacted by NHS Digital about coronavirus health research",
              "text": "Yes, I want to be contacted by NHS Digital about coronavirus health research",
              "name": "Yes, I want to be contacted by NHS Digital about coronavirus health research",
              "checked": checked("hear-from-nhsd", "Yes, I want to be contacted by NHS Digital about coronavirus health research")
            },
            {
              "value": "No, I do not want to be contacted by NHS Digital about coronavirus health research",
              "text": "No, I do not want to be contacted by NHS Digital about coronavirus health research",
              "name": "No, I do not want to be contacted by NHS Digital about coronavirus health research",
              "checked": checked("hear-from-nhsd", "No, I do not want to be contacted by NHS Digital about coronavirus health research")
            }
          ]
        }) }}
        
        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
