{% extends 'layout.html' %}

{% set version = "v4" %}
{% set backLink = "permission" %}
{% set heading = "Get involved in other health research" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">{{ heading }}</h1>
      <p>There is a lot of health research taking place in the UK.</p>
      <p>NHS Digital is developing this service to cover other health research that's not about coronavirus vaccines.</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What is NHS Digital?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>NHS Digital is part of the NHS. It provides information and technology for better health and social care.</p>
          <p>NHS Digital also works with research organisations to support health research into coronavirus and other conditions.</p>            
        </div>
      </details>

      <form action="/{{ version }}/check-answers" method="post" class="form">
      

        {{ radios({
          "idPrefix": "hear-from-nhsd",
          "name": "hear-from-nhsd",
          "fieldset": {
            "legend": {
              "text": "Do you agree to NHS Digital contacting you about this, so you can find out about other research?"
            }
          },
          "items": [
            {
              "value": "Yes",
              "text": "Yes",
              "name": "Yes",
              "checked": checked("hear-from-nhsd", "Yes")
            },
            {
              "value": "No",
              "text": "No",
              "name": "No",
              "checked": checked("hear-from-nhsd", "No")
            }
          ]
        }) }}
        
        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
