{% extends 'layout.html' %}

{% set version = "v4" %}
{% set heading = "Permission not given" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--information">
        <h1 class="nhsuk-u-margin-bottom-4">{{ heading }}</h1>
        <p class="nhsuk-body-l">You have not registered your interest to take part in the coronavirus clinical trials.</p>
      </div>

      <p>Because you did not give your permission, you have not registered your interest to take part in the coronavirus clinical trials.</p>

      <h2>Register your interest if you change your mind</h2>
      <p>You can <a href="/v4">register your interest</a> to take part in the coronavirus clinical trials at any time.</p>

    </div>
  </div>
{% endblock %}
