{% extends 'layout.html' %}

{% set version = "v4" %}
{% set heading = "Permission not given" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--information">
        <h1 class="nhsuk-u-margin-bottom-4">{{ heading }}</h1>
        <p class="nhsuk-body-l">You have not given permission to be contacted for taking part in coronavirus vaccine studies.</p>
      </div>

      <p>Your answers have not been saved.</p>

      <h2>Give your permission if you change your mind</h2>
      <p>You can <a href="/v4">sign up to be contacted for taking part in coronavirus vaccine studies</a> at any time.</p>

    </div>
  </div>
{% endblock %}
