{% extends 'layout-nhs-website.html' %}

{% set version = "v4" %}
{% set heading = "Coronavirus vaccine research" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>Vaccines are the most effective way to prevent infectious diseases.</p> 
      <p>They're designed so they do not give people the infection they're protecting against.</p>
      <p>Research into vaccines is the only way to find out which vaccines will work. Researchers need people to take part in their studies so they can find out which possible new vaccine works best.</p>

      <div class="nhsuk-inset-text">
        <p>On this page you can sign up to be contacted about taking part in approved UK coronavirus vaccine studies.</p>
      </div>

      <h2>What's involved in vaccine studies</h2>
      <p>If you take part in a vaccine study, you may or may not be offered the vaccine. Vaccines are tested to make sure they're safe before being tested in people.</p> 
      <p>You'll need to visit the hospital, or other research site, a few times over 6 to 12 months.</p> 
      <p>At these visits, you should:</p>
      <ul>
        <li>be told about the research study</li>
        <li>have the chance to ask any questions</li>
        <li>have blood tests</li>
      </ul>
      <p>Between visits, you'll be asked to tell the research team about any symptoms you have.</p>

      <h2>Who runs coronavirus vaccine studies</h2>
      <p>In the UK, the research partner of the NHS is the National Institute for Health Research (NIHR). If you sign up to be contacted about vaccine studies, only researchers on studies approved by NIHR will be able to contact you.</p>

      <img src="/images/nihr-logo.png" class="app-nihr-logo" alt="" >

      <p>There are currently 2 national coronavirus vaccine studies approved by NIHR in the UK, run by the University of Oxford and Imperial College London.</p> 
      <p>You can find out more about taking part in these vaccine studies at the NIHR's <a href="https://www.bepartofresearch.nihr.ac.uk/">Be Part of Research website</a>.</p>
      <p>There are strict rules on safety and confidentiality that all health research, including vaccine studies, must follow.</p> 

      <h2>How do I sign up?</h2>
      <p>You can sign up online.</p>
      <p>If you sign up, your details will be kept secure. They'll only be shared with researchers who think you might be suitable for a study they're working on.</p>
      <p>The researchers will then contact you to tell you more about it.</p>
      <p>You do not have to talk to researchers or take part in a study. It's your choice. If you sign up, you can withdraw your permission at any time.</p>

      {{ actionLink({
        "text": "Sign up to be contacted about coronavirus vaccine studies ",
        "href": "/v4/"
      }) }}

    </div>
  </div>
{% endblock %}
