{% extends 'layout.html' %}

{% set version = "v4" %}
{% set backLink = "confirmed-email" %}
{% set heading = "Thank you. We'll now ask you some questions" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card nhsuk-card--blue nhsuk-u-padding-1">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading nhsuk-u-margin-bottom-4 nhsuk-heading-l">{{ heading }}</h1>
          <p>We'll ask for some information about you, including your:</p>
          <ul>
            <li>name</li>
            <li>date of birth</li>
            <li>postcode</li>
            <li>sex registered at birth and gender</li>
            <li>ethnic group</li>
          </ul>
          <p>We ask this so we can:</p> 
          <ul>
            <li>get the right mix of different people taking part in health research</li>
            <li>make sure any vaccines developed will work for everyone</li>
          </ul>
          <p>The answers you give will be kept secure. Find out how your data is protected in the <a href="#">privacy policy</a>.</p>
          <form action="name" method="post">
            <input type="submit" class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-bottom-0" value="Continue">
          </form>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
