// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

 /* White link mixin needs updating in the frontend
   ========================================================================== */

   @mixin nhsuk-link-style-white {

    color: $color_nhsuk-white;
  
    &:visited {
      color: $color_nhsuk-white;
    }
  
    &:hover {
      color: $color_nhsuk-white;
      text-decoration: none;
    }
  
    &:focus {
      color: $nhsuk-focus-text-color;
      outline: $nhsuk-focus-width solid transparent;
      outline-offset: $nhsuk-focus-width;
      text-decoration: none;
    }
  
    &:active {
      color: $nhsuk-link-active-color;
    }
  
  }

// Components that are not in the NHS.UK frontend library
@import 'components/alert';
@import 'components/card';
@import 'components/loader';



///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.nhsuk-back-link {
  @include nhsuk-responsive-margin(4, "top");
  margin-bottom: 0;
}

// Overrides auto reload div background colour
#hc_extension_bkgnd {
  background-color: $color_nhsuk-grey-4 !important;
}

h1 {
  word-break: break-word;
}

.app-email-body {
  background-color: $color_nhsuk-grey-4 !important;
  max-width: 740px;
  margin: 0 auto;
}

.app-email-container {
  background-color: $color_nhsuk-grey-4 !important;
  margin: 32px 16px;
}

.app-email-container--body {
  background-color: $color_nhsuk-white !important;
  margin: 0;
  padding: 32px;
  padding-bottom: 24px;

  @include mq($until: tablet) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.app-email-header {
  .nhsuk-header__container {
    padding-left: 32px;
    padding-right: 32px;
    margin: 0;

    @include mq($until: tablet) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
