{% extends 'layout-email.html' %}

{% set version = "emails-v2" %}
{% set bodyClasses = "app-email-body" %}
{% set emailFrom = "contact-for-research@nhsdigital.nhs.uk" %}
{% set emailTo = "joe.bloggs@google.com" %}
{% set emailSubject = "Confirm your email address" %}

{% block beforeMain %}
{% endblock %}

{% block content %}

  <h1 class="nhsuk-u-visually-hidden">{{ emailSubject }}</h1>

  <p>Confirm your email address to sign up to be contacted about coronavirus vaccine research.</p>

  <a class="nhsuk-button" href="/v4/confirmed-email">Confirm email address</a>

{% endblock %}
