{% extends 'layout-email.html' %}

{% set version = "emails-v2" %}
{% set bodyClasses = "app-email-body" %}
{% set emailFrom = "contact-for-research@nhsdigital.nhs.uk" %}
{% set emailTo = "joe.bloggs@google.com" %}
{% set emailSubject = "Thank you for registering your permission to take part in coronavirus vaccine studies" %}

{% block beforeMain %}
{% endblock %}

{% block content %}

  <h1 class="nhsuk-heading-l nhsuk-u-visually-hidden">Confirmation of your registration</h1>

  <p>Dear Joe Bloggs,</p>

  <p>Thank you. You've given your permission to be contacted about taking part in coronavirus vaccine studies.</p>

  <p>Health research is the only way to find effective treatments and vaccines. Thank you for helping the NHS to save lives.</p>

  <hr>

  <h2>What happens next</h2>
  <p>Researchers will contact you if they think you may be suitable for their coronavirus vaccine studies.</p>

  <p>In the UK, the research partner of the NHS is the National Institute of Health Research (NIHR). Only researchers on vaccine studies approved by NIHR will be able to contact you through this service.</p>

  <p>You can find out more information about the vaccine studies on the <a href="https://www.bepartofresearch.nihr.ac.uk/">Be Part of Research website</a>.</p>

  <p>There is no guarantee you'll be contacted to be part of vaccine studies. If you are not contacted, this will be because researchers already have the mix of people they need.</p>

  <p>If a researcher asks you to take part in their research, you do not have to say yes. It's your choice.</p>
  
  <h3>Contact from NHS Digital</h3>
  <p>If you agreed to NHS Digital contacting you about developments to this service to provide opportunities to take part in health research, they'll contact you when there's new information to share. You will be able to unsubscribe any time.</p>
  <p>Find out in the privacy policy <a href="#">how your data will be processed using this service</a>.</p>
      
  <hr>
  
  <h2>Withdraw your permission</h2>
  <p>Find out how to <a href="/opt-out-v2/confirm-email">withdraw your permission to be contacted for coronavirus vaccine studies</a>.</p>


{% endblock %}
