{% extends 'layout.html' %}

{% set version = "1-1" %}
{% set heading = "Success" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--success">
        <h1 class="nhsuk-u-margin-bottom-4">{{ heading }}</h1>
        <p>Your reference number<br> <strong class="nhsuk-u-font-size-24">HDJ2123F</strong></p>
      </div>

      <p>We have sent you a confirmation email.</p>

      <h2>What happens next</h2>

    </div>
  </div>
{% endblock %}
