{% extends 'layout.html' %}

{% set version = "v2" %}
{% set backLink = "dob" %}
{% set heading = "Are you currently pregnant, breastfeeding or planning on becoming pregnant over the next 6 months?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/name" method="post" class="form">

        {{ radios({
        "idPrefix": "areyoupregnant",
        "name": "areyoupregnant",
        "fieldset": {
          "legend": {
            "text": heading,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "Yes",
            "text": "Yes",
            "name": "Yes",
            "checked": checked("areyoupregnant", "Yes")
          },
          {
            "value": "No",
            "text": "No",
            "name": "No",
            "checked": checked("areyoupregnant", "No")
          }
        ]
      }) }}
        
        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}