{% extends 'layout.html' %}

{% set version = "v2" %}
{% set heading = "One more step" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-4">{{ heading }}</h1>

      <p>We've sent you an email. Please click on the link in the email to confirm your address.</p>

      <div class="nhsuk-alert">
        <p class="nhsuk-u-font-weight-bold">Your interest will not be registered until you click the link in the email.</p>
      </div>

      {{ details({
        "text": "Not received a confirmation email?",
        "HTML": "
        <p class='nhsuk-u-margin-bottom-3'>If you haven't received a confirmation email:</p>
        <ul>
          <li>check your spam or junk mail boxes</li>
          <li>allow up to 24 hours for the email to arrives</li>
        </ul>
        "
      }) }}

    </div>
  </div>
{% endblock %}
