{% extends 'layout.html' %}

{% set version = "v2" %}
{% set backLink = "lung-disease" %}
{% set heading = "Has a doctor told you that you have diabetes?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/liver-disease" method="post" class="form">

        {{ radios({
          "idPrefix": "diabetes",
          "name": "diabetes",
          "fieldset": {
            "legend": {
              "text": heading,
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "Yes",
              "text": "Yes",
              "name": "Yes",
              "checked": checked("diabetes", "Yes")
            },
            {
              "value": "No",
              "text": "No",
              "name": "No",
              "checked": checked("diabetes", "No")
            },
            {
              divider: "or"
            },
            {
              "value": "I'm not sure",
              "text": "I'm not sure",
              "name": "I'm not sure",
              "checked": checked("diabetes", "I'm not sure")
            }
          ]
        }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
