{% extends 'layout.html' %}

{% set version = "v2" %}
{% set backLink = " " %}
{% set heading = "What is your date of birth?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/are-you-pregnant" method="post" class="form">

        {{ dateInput({
          "id": "dob",
          "namePrefix": "dob",
          "fieldset": {
            "legend": {
              "text": heading,
              "classes": "nhsuk-label--l",
              "isPageHeading": true
            }
          },
          "hint": {
            "text": "For example, 15 3 1984"
          },
          "items": [
            {
              "name": "day",
              "classes": "nhsuk-input--width-2",
              "value": data['dob-day']
            },
            {
              "name": "month",
              "classes": "nhsuk-input--width-2",
              "value": data['dob-month']
            },
            {
              "name": "year",
              "classes": "nhsuk-input--width-4",
              "value": data['dob-year']
            }
          ]
        }) }}

        {{ details({
          "text": "Why we are asking this question",
          "HTML": "
          <p>We need to know how old you are so researchers can contact you about relevant coronavirus vaccine trials.</p>
          "
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
