{% extends 'layout.html' %}

{% set version = "v2" %}
{% set backLink = "name" %}
{% set heading = "What is your email address?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/dob" method="post" class="form">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--l" for="email">
              {{ heading }}
            </label>
          </h1>
          <input class="nhsuk-input" id="email" name="email" type="email" autocomplete="email" spellcheck="false" value="{{ data['email'] }}">
        </div>

        {{ details({
          "text": "Why we are asking this question",
          "HTML": "
          <p>We will not use this information to identify you.</p>
          <p>We need your email to...</p>
          "
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
