// Loader
.nhsuk-loader {
  @include nhsuk-responsive-margin(4, bottom);
  @include nhsuk-responsive-margin(4, top);
  
  position: relative;
  text-align: center;
}

.nhsuk-loader__spinner {
  animation: spin 2s linear infinite;
  border: nhsuk-spacing(3) solid darken(#f0f4f5, 10%);
  border-radius: 50%;
  border-top: nhsuk-spacing(3) solid tint($color_nhsuk-blue, 15%);
  display: inline-block;
  height: 120px;
  margin: auto;
  width: 120px;
}

.nhsuk-loader__text {
  @include nhsuk-typography-responsive(19);

  display: block;
  margin-bottom: 0;
}

.nhsuk-loader--small {
  text-align: left;

  .nhsuk-loader__spinner{
    border: nhsuk-spacing(1) solid $color_nhsuk-grey-4;
    border-top: nhsuk-spacing(1) solid $color_nhsuk-blue;
    height: nhsuk-spacing(4);
    left: 0;
    position: absolute;
    top: 0;
    width: nhsuk-spacing(4);
    
    @include mq($from: desktop) {
      height: 28px;
      width: 28px;
    }
  }

  .nhsuk-loader__text {
    padding-left: nhsuk-spacing(5);
  
    @include mq($from: desktop) {
      padding-left: nhsuk-spacing(6);
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
