{% extends 'layout.html' %}

{% set version = "v1-2" %}
{% set heading = "Check your answers before sending your application" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-7">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['first-name'] }} {{ data['last-name'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/name">
              Change <span class="nhsuk-u-visually-hidden">Name</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Email
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['email'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/email">
              Change <span class="nhsuk-u-visually-hidden">Email</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['dob-day'] }} {{ data['dob-month'] | monthToWord }} {{ data['dob-year'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/dob">
              Change <span class="nhsuk-u-visually-hidden">Date of birth</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Country
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['country'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/country">
              Change <span class="nhsuk-u-visually-hidden">Country</span>
            </a>
          </dd>
        </div>

        {% if (data['country'] == "Northern Ireland") %}
            {% if (data['ni-town'] >= "0") %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Town
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['ni-town'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="/{{ version }}/NI-town">
                    Change <span class="nhsuk-u-visually-hidden">Town</span>
                  </a>
                </dd>
              </div>
              {% else %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Postcode
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['ni-postcode'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a class="nhsuk-link" href="/{{ version }}/NI-postcode">
                  Change <span class="nhsuk-u-visually-hidden">Postcode</span>
                </a>
              </dd>
          </div>
          {% endif %}

        {% else %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Postcode
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['postcode'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/postcode">
              Change <span class="nhsuk-u-visually-hidden">Postcode</span>
            </a>
          </dd>
      </div>
      {% endif %}


        
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              What you do for work
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['work'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="/{{ version }}/work">
                Change <span class="nhsuk-u-visually-hidden">What you do for work</span>
              </a>
            </dd>
        </div>
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Had a coronavirus test
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['tested'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="/{{ version }}/tested">
                Change <span class="nhsuk-u-visually-hidden">Had a coronavirus test</span>
              </a>
            </dd>
        </div>

        {% if (data['tested'] !== "No") %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Test results
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['test-results'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/test-results">
              Change <span class="nhsuk-u-visually-hidden">Test results</span>
            </a>
          </dd>
        </div>
      {% endif %}
      
      </dl>

      <h2>Consent</h2>
      <p>I give permission for a researcher to contact me about taking part in clinical trials to find a vaccine for coronavirus (COVID-19).</p>
      <p>A clinical trial compares one medicine or treatment with another. People who work on clinical trials are called researchers.</p>
      <p>I understand a researcher will only contact me if I’m eligible for a clinical trial.</p>
      <p>I understand I can withdraw my permission at any time. I can find out how to do this in the email I’ll receive when I give my permission here.</p>
      <p>I understand I can find out more about taking part in clinical trials at the <a target=blank href="https://www.bepartofresearch.nihr.ac.uk/">Be a part of research</a> website (opens in a new window).</p>
      <p>There are lots of clinical trials going on around treatment and prevention of coronavirus.</p>
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="agree-consent" name="agree-consent" type="checkbox" value="agree-consent">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="agree-consent">
                I agree
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <h2>Do you want to receive more information from NHS Digital about these trials?</h2>
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <div class="nhsuk-radios nhsuk-radios--small">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="nhsd-more-info" name="nhsd-more-info" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="nhsd-more-info">
                Yes, I want to receive more information from NHS Digital about these trials.
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="nhsd-more-info-2" name="nhsd-more-info" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="nhsd-more-info-2">
                No, I do not want to receive more information from NHS Digital about these trials.
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      
      <a class="nhsuk-button" href="/{{ version }}/confirmation">
       Send
      </a>

    </div>
  </div>
{% endblock %}
