{% extends 'layout.html' %}

{% set version = "v1-2" %}
{% set heading = "Check your answers" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>Check your information is correct before sending it.</p>

      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-7">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['first-name'] }} {{ data['last-name'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/name">
              Change <span class="nhsuk-u-visually-hidden">Name</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Email
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['email'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/email">
              Change <span class="nhsuk-u-visually-hidden">Email</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['dob-day'] }} {{ data['dob-month'] | monthToWord }} {{ data['dob-year'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/dob">
              Change <span class="nhsuk-u-visually-hidden">Date of birth</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Country
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['country'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/country">
              Change <span class="nhsuk-u-visually-hidden">Country</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Postcode
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['postcode'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="/{{ version }}/postcode">
                Change <span class="nhsuk-u-visually-hidden">Postcode</span>
              </a>
            </dd>
        </div>
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              What you do for work
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['work'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="/{{ version }}/work">
                Change <span class="nhsuk-u-visually-hidden">What you do for work</span>
              </a>
            </dd>
        </div>
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Had a coronavirus test
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['tested'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="/{{ version }}/tested">
                Change <span class="nhsuk-u-visually-hidden">Had a coronavirus test</span>
              </a>
            </dd>
        </div>

        {% if (data['tested'] !== "No") %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Test results
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['test-results'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/{{ version }}/test-results">
              Change <span class="nhsuk-u-visually-hidden">Test results</span>
            </a>
          </dd>
        </div>
      {% endif %}
      
      </dl>

      <a class="nhsuk-button" href="/{{ version }}/confirmation">
       Send
      </a>

    </div>
  </div>
{% endblock %}
