{% extends 'layout.html' %}

{% set version = "v1-2" %}
{% set backLink = "permission" %}
{% set heading = "Do you want to receive more information from NHS Digital about these trials?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>{{heading}}</h1>
      <p>There are lots of clinical trials going on around treatment and prevention of coronavirus.</p>

      <form action="/{{ version }}/check-answers" method="post" class="form">

        {{ radios({
        "idPrefix": "hear-from-nhsd",
        "name": "hear-from-nhsd",
        "items": [
          {
            "value": "Yes, I want to receive more information from NHS Digital about these trials",
            "text": "Yes, I want to receive more information from NHS Digital about these trials",
            "name": "Yes, I want to receive more information from NHS Digital about these trials",
            "checked": checked("hear-from-nhsd", "Yes, I want to receive more information from NHS Digital about these trials")
          },
          {
            "value": "No, I do not want to receive more information from NHS Digital about these trials",
            "text": "No, I do not want to receive more information from NHS Digital about these trials",
            "name": "No, I do not want to receive more information from NHS Digital about these trials",
            "checked": checked("hear-from-nhsd", "No, I do not want to receive more information from NHS Digital about these trials")
          }
        ]
      }) }}
        
        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
