{% extends 'layout.html' %}

{% set version = "opt-out-v2" %}
{% set heading = "You've withdrawn your permission to be contacted for coronavirus vaccine research" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--success nhsuk-u-margin-bottom-5">
        <h1 class="nhsuk-heading-l">{{ heading }}</h1>
        <p>Your details have been removed from the contact list, and your information deleted.</p>
        <p>If your details have already been shared with researchers, we will contact them to no longer contact you.</p>
      </div>
      
      <p>We have sent you a confirmation email.</p>

      <h2 class="nhsuk-heading-m">What happens next</h2>
      <p>You will no longer be contacted by any researchers about future coronavirus vaccine research.</p>
      <p>This does not remove you from any trials you are currently taking part in.</p>
      <p>NHS Digital will no longer contact you about any coronavirus prevention and treatment research, or any other health research.</p>

      <h2 class="nhsuk-heading-m">Giving your permission again</h2>
      <p>If you change your mind, you can <a href="/v4">give your permission again to be contacted about taking part in coronavirus vaccine research</a>.</p>

      <p class="nhsuk-body-s nhsuk-u-margin-top-9"><a href="/emails-v2/confirmation-opt-out">See confirmation email (prototype only)</a></p>

    </div>
  </div>
{% endblock %}
