{% extends 'layout.html' %}

{% set version = "opt-out-v2" %}
{% set heading = "Check your email" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">{{ heading }}</h1>

      <p>We have sent you an email to {{ data['opt-out-email'] }}</p> 
      <p>Click the link in the email to confirm your email address.</p>
      <p>After 48 hours the link will not work.</p>
      <p>The email address it will come from is <strong>contact-for-research@nhsdigital.nhs.uk</strong></p>
      
      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <p>You cannot withdraw your permission until you confirm your email address.</p>
      </div>

      <h2 class="nhsuk-heading-s nhsuk-u-padding-top-2">If you do not get an email</h2>
      <p>Allow a few minutes for the email to arrive. If you do not get an email, check your spam or junk folder. </p>
      <p>You can <a href='/{{ version }}/'>re-enter your email address</a> for another confirmation email to be sent to you.</p>

      <p class="nhsuk-body-s nhsuk-u-margin-top-9"><a href="/emails-v2/confirm-email-opt-out">Next step (prototype only)</a></p>

    </div>
  </div>
{% endblock %}
