{% extends 'layout.html' %}

{% set version = "opt-out-v2" %}
{% set heading = "The email address not been used to sign up" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ heading }}</h1>

      <p>The email address david.hunter7@nhs.net has not been used to sign up to be contacted for coronavirus vaccine studies.</p> 

      <p>You can <a href='/{{ version }}/'>enter your email address again</a> if you got it wrong.</p>

    </div>
  </div>
{% endblock %}
