{% extends 'layout.html' %}

{% set version = "opt-out-v2" %}
{% set heading = "Withdraw your permission to be contacted for vaccine research" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/email-sent" method="post" class="form">

       <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">{{ heading }}</h1>

        <p>If you gave permission for NHS Digital to contact you about coronavirus prevention, treatment and other health research this will also be withdrawn.</p>
        <p>To withdraw your permission, enter the email address you used to sign up.</p>
        <p>Then we will send you an email asking you to confirm your email address.</p>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1" for="opt-out-email">
            Email address
          </label>
          <input class="nhsuk-input" id="opt-out-email" name="opt-out-email" type="email" autocomplete="email" spellcheck="false">
        </div>

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
