{% extends 'layout.html' %}

{% set version = "opt-out-v2" %}
{% set heading = "Confirm email link expired" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ heading }}</h1>

      <p>The link expired because it has been longer than 24 hours.</p>

      <p>You can try again by <a href='/{{ version }}/'>entering your email address again</a>.</p>

    </div>
  </div>
{% endblock %}
