{% extends 'layout.html' %}

{% set version = "opt-out-v1" %}
{% set heading = "Confirm that you want to withdraw your interest" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/opt-out-confirmation" method="post" class="form">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                <span class="nhsuk-caption-l">Withdraw your interest</span>
                Can you confirm that {% if (data['opt-out-email']) %}{{ data['opt-out-email'] }}{% else %}{{ data['email'] }}{% endif %} is your email address?
              </h1>
            </legend>

            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="opt-out-email-confirm-yes" name="opt-out-email-confirm" type="radio" value="Yes, that is correct">
                <label class="nhsuk-label nhsuk-radios__label" for="opt-out-email-confirm-yes">
                  Yes, that is correct
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="opt-out-email-confirm-no" name="opt-out-email-confirm" type="radio" value="No, that is not my email address">
                <label class="nhsuk-label nhsuk-radios__label" for="opt-out-email-confirm-no">
                  No, that is not my email address
                </label>
              </div>

            </div>
          </fieldset>

        </div>

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
