{% extends 'layout.html' %}

{% set version = "opt-out-v1" %}
{% set heading = "We have withdrawn your interest from the clinical trials" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--success nhsuk-u-margin-bottom-5">
        <h1 class="nhsuk-heading-l">{{ heading }}</h1>
      </div>

      <p>We have sent you a confirmation email.</p>

    </div>
  </div>
{% endblock %}
