{% extends 'layout.html' %}

{% set version = "v3" %}
{% set backLink = "immune-system" %}
{% set heading = "Has a doctor told you that you have a serious heart condition?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/are-you-pregnant" method="post" class="form">

        {{ radios({
          "idPrefix": "cardiac-disease",
          "name": "cardiac-disease",
          "fieldset": {
            "legend": {
              "text": heading,
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "hint": {
            "text": "Some examples are heart failure, coronary artery disease, congenital heart disease, cardiomyopathies, pulmonary hypertension"
          },
          "items": [
            {
              "value": "Yes",
              "text": "Yes",
              "name": "Yes",
              "checked": checked("cardiac-disease", "Yes")
            },
            {
              "value": "No",
              "text": "No",
              "name": "No",
              "checked": checked("cardiac-disease", "No")
            },
            {
              divider: "or"
            },
            {
              "value": "I'm not sure",
              "text": "I'm not sure",
              "name": "I'm not sure",
              "checked": checked("cardiac-disease", "I'm not sure")
            }
          ]
        }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
