{% extends 'layout.html' %}

{% set version = "v3" %}
{% set heading = "Sign up to be contacted about coronavirus vaccine research" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <h2>What this service is</h2>

      <p>Use this service to give permission (consent) for researchers to contact you about taking part in clinical trials for a coronavirus (COVID-19) vaccine.</p>

      {{ details({
        "text": "What is a clinical trial?",
        "HTML": "
        <p>A clinical trial compares one medicine or treatment with another. People who work on clinical trials are called researchers.</p>
        <p>Researchers are not always from the NHS. Clinical trials can take place in other companies or organisations, for example universities.</p>
        "
      }) }}

      {{ warningCallout({
        "heading": "Important",
        "HTML": "<p>You are not signing up for a clinical trial when you use this service. You are letting researchers know you are happy for them to contact you.</p>"
      }) }}
      <p>Find out more about taking part in clinical trials at the <a href="https://www.bepartofresearch.nihr.ac.uk/">Be Part of Research</a> website.</p>
      <h2>Who can use this service</h2>
      <p>You can use this service if:</p>
      <ul>
        <li>you are 18 or over, and</li>
        <li>you live in the UK</li>
      </ul>


      <h2>What this service will ask for</h2>
      <p>We will ask for some information about you, including your:</p>
      <ul>
        <li>date of birth</li>
        <li>name</li>
        <li>email address</li>
        <li>postcode</li>
        <li>sex registered at birth</li>
        <li>gender</li>
        <li>ethnic group</li>
        <li>health conditions you may have</li>
        <li>type of work</li>
      </ul>
      <p>We ask this so we can get the right mix of different people on clinical trials.</p>
      <p>Then we will ask for your permission to contact you.</p>

      <a href="/{{ version }}/dob" class="nhsuk-button nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-3">
        Start now
      </a>

      <h2>Withdraw your permission</h2>
      <p>Find out how to <a href="/opt-out-v1/opt-out">withdraw your permission to be contacted about coronavirus vaccine trials</a>.</p>

    </div>
  </div>
{% endblock %}
