{% extends 'layout.html' %}

{% set version = "v3" %}
{% set heading = "We need your permission to contact you about covid-19 clinical trials" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ heading }}</h1>

      <p>We can only contact you about covid-19 clinical trials if you agree to give your consent to be contacted.</p>

      <a href="/v3/permission" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Back to permission
      </a>

    </div>
  </div>
{% endblock %}
