{% extends 'layout.html' %}

{% set version = "v3" %}
{% set backLink = "ethnic-group" %}
{% set heading = "Does your work mean you have face to face contact with different people every day?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/tested" method="post" class="form">
        
        {% set workOtherHtml %}
        {{ input({
          id: "work-other",
          name: "work-other",
          classes: "nhsuk-u-width-two-thirds",
          label: {
            text: "Tell us what work you do"
          }
        }) }}
      {% endset -%}

      {{ radios({
        idPrefix: "work",
        name: "work",
        fieldset: {
          legend: {
            text: heading,
            isPageHeading: true,
            classes: "nhsuk-fieldset__legend--l"
          }
        },
        "hint": {
          "text": "Some examples of this are nurse, doctor, care worker, transport worker, shop worker, taxi driver, delivery worker, police officer."
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("work", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("work", "No")
          },
          {
            divider: "or"
          },
          {
            value: "I do not work",
            text: "I do not work",
            checked: checked("work", "I do not work"),
            label: {
              classes: 'nhsuk-label'
            }
          }
        ]
      }) }}

      {{ button({
        "text": "Continue"
      }) }}



        </form>



    </div>
  </div>
{% endblock %}

Some examples of this are nurse, doctor, care worker, transport worker, shop worker, taxi driver, delivery worker, police officer. 