{% extends 'layout-email.html' %}

{% set version = "emails" %}
{% set bodyClasses = "app-email-body" %}
{% set emailFrom = "clinical-trials@nhs.net" %}
{% set emailTo = "joe.bloggs@google.com" %}
{% set emailSubject = "Please confirm your email address" %}

{% block beforeMain %}
{% endblock %}

{% block content %}

  <h1 class="nhsuk-u-visually-hidden">{{ emailSubject }}</h1>

  <p>Click this link to withdraw your permission to be contacted about coronavirus clinical trials.</p>

  <p><a href="/opt-out-v1/opt-out-confirm-email">https://clinical-trials.nhs.uk/confirm-email</a></p>

{% endblock %}
