{% extends 'layout.html' %}

{% set heading = serviceName %}

{% block beforeMain %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ serviceName }} prototype</h1>

      <h2>Versions</h2>
      <ul>
        <li><a href="/v2">Version 2</a> - v1.2 with additional dataset requirements</li>
        <li><a href="/v1-2">Version 1.2</a> - capture country data, to be able to share with deferred authorities</li>
        <li><a href="/v1-1">Version 1.1</a> - redirect to deferred authority site</li>
        <li><a href="/opt-out-v1/opt-out">Opt out version 1</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
