{% extends 'layout.html' %}

{% set heading = serviceName %}

{% block beforeMain %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ serviceName }} prototype</h1>

      <h2>Versions</h2>
      <ul class="nhsuk-list">
        <li>
          <a href="/v2">Latest version (v2)</a> 
          <span class="nhsuk-body-m nhsuk-u-margin-top-1">Single journey for all countries with additional dataset requirements</span>
        </li>
        <li>
          <a href="/opt-out-v1/opt-out">Opt out journey (v1)</a>
        </li>
      </ul>

      <h3 class="nhsuk-heading-xs">Archived</h3>
      <ul class="nhsuk-list">
        <li>
          <a href="/v1-2">Version 1.2</a>
          <span class="nhsuk-body-m nhsuk-u-margin-top-1">Single journey for all countries</span>
        </li>
        <li>
          <a href="/v1-1">Version 1.1</a> 
          <span class="nhsuk-body-m nhsuk-u-margin-top-1">Routing to each countries own service</span>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
